[Unit]
Description=RAT Agent Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/dukeetheprogrammer/rat
ExecStart=/usr/bin/python3 /home/dukeetheprogrammer/rat/rat_agent/agent.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
